@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
:root,
body {
  background-color: #ffffff;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 1px;
}
.modal {
  transition: opacity 0.25s ease;
}
.Code {
  max-height: 100vh;
}
.jodit-container {
  max-height: 100% !important;
  overflow: auto;
}
.user-context {
  transition: opacity 0.25s ease;
}
.tox-notification {
  display: none !important;
}
.alert-list {
  z-index: 9500;
  pointer-events: none;
  left: 0;
  right: 0;
  margin-bottom: 10px;
  position: fixed;
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  bottom: 0;
}
.iconify {
  display: inline !important;
}
.iconify path {
  stroke-width: 35;
}
