@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';
.modal {
  transition: opacity 0.25s ease;
}
.Code {
  max-height: 100vh;
}
.jodit-container {
  max-height: 100% !important;
  overflow: auto;
}
.user-context {
  transition: opacity 0.25s ease;
}
